body {
  font-family: sans-serif;
  font-size: 1em;
}

/* STYLES FOR SVG BAR CHART */

.bar-chart rect {
  cursor: pointer;
}

.bar-chart rect.male {
  fill: grey;
}
.bar-chart rect.female {
  fill: blue;
}
.bar-chart rect.selected {
  fill-opacity: 0.6;
}

.bar-chart text {
  fill: black;
  font: 10px sans-serif;
  text-anchor: end;
}

.axis text {
  fill: black;
  font: .8em sans-serif;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

/* STYLES FOR DATA TABLE */
table.data-table {
  border-collapse: collapse;
  margin: 30px;
}

td, th {
  padding: 5px 10px;
  border-right: 1px solid silver;
  border-bottom: 1px solid silver;
}

td:last-child, th:last-child {
  border-right: none;
}

tr:last-child td {
  border-bottom: none;
}

tr.selected {
  background-color: lightgrey;
}


.data-cell.name {
  cursor: pointer;
}
.data-cell.name:hover {
  background-color: lightgrey;
}
.data-cell a {
  text-decoration: none;
  color: inherit;
}