body {
  font-family: sans-serif;
  font-size: 1em;
}
h1 {
  text-align: center;
}
/* STYLES FOR SVG BAR CHART */

.bar-chart rect {
  cursor: pointer;
  stroke: black;
  stroke-width: .5px;
}

.MALE rect {
  fill: grey;
}
.FEMALE rect {
  fill: #074C85;
}
.bar-chart rect.selected {
  fill: #FFD700;
  opacity: .7;
}

.bar-chart text {
  fill: black;
  font: 10px sans-serif;
  text-anchor: end;
}

/* styling for axes */
.axis text {
  fill: black;
  font: .8em sans-serif;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

/* styles for gridlines */
.grid .tick {
  stroke: lightgrey;
  stroke-width: 1px;
  opacity: 0.7;
}
.grid path {
  stroke-width: 0;
}

/* legend */
.legend {
  stroke: black;
  stroke-width: .5px;
}
.legend text {
  fill: black;
  font: 10px sans-serif;
  text-anchor: start;
}
.legend rect {
  stroke: black;
  stroke-width: .5px;
}
.legend .container {
  fill: none;
}


/* STYLES FOR DATA TABLE */
table.data-table {
  border-collapse: collapse;
  margin: 30px;
}

td, th {
  padding: 5px 10px;
  border-right: 1px solid silver;
  border-bottom: 1px solid silver;
}

td:last-child, th:last-child {
  border-right: none;
}

tr:last-child td {
  border-bottom: none;
}

tr.selected {
  background-color: rgba(255,215,0, .6);
}


.data-cell.name {
  cursor: pointer;
}
.data-cell.name:hover {
  background-color: lightgrey;
}
.data-cell a {
  text-decoration: none;
  color: inherit;
}